<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
	name="ISA PD Log"
	version="1.00"
	description="Adds a PD Log page for staff to record training / professional development">
	
	<publisher name="Gayle Veitch">
		<contact email="gayle.veitch@gmail.com" />
	</publisher>
</plugin>
 
