<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
	name="ISA Alerts"
	version="2.02"
	description="Adds alerts to admin and teacher portals, and adds existing custom medical fields to Emergency/Medical student page; with thanks to Jerome Ohnui for assistance based on the TSD Medical Alerts Plugin">
	
	<publisher name="Gayle Veitch / Finn Lestrange">
		<contact email="gayle.veitch@gmail.com" />
	</publisher>
</plugin>
 